:root{
    --color-main: #5839fb;
    --color-pink: #e64cff;
    --color-green: #7ED957;

    --color-gray: #F3EEFD;
    --color-gray2: #F7F6FF;
    --color-light-blue: #E2EEFF;
    --color-light-blue2: #EDFBFF;

    --color-dark: #2D2A40;
    --color-white: #ffffff;
    --color-black: #000000;
}

.container{
    max-width: 1260px;
    margin: auto;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.f-33{
    flex-basis: 33%;
}
.f-25{
    flex-basis: 25%;
}
.f-75{
    flex-basis: 75%;
}
.f-30{
    flex-basis: 30%;
}
.f-70{
    flex-basis: 70%;
}
.f-100{
    flex-basis: 100%;
}
.f-40{
    flex-basis: 40%;
}
.f-60{
    flex-basis: 60%;
}
.f-50{
    flex-basis: 50%;
}
.content-default{
    padding: 60px 10px;
}
.text-default{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-dark);
}


.content_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}
.img_header img{
    width: 66px;
    margin: auto;
}
nav.menu{
    display: flex;
}
nav.menu ul{
    display: flex;
}
nav.menu ul li a{
    color: var(--color-black);
    padding: 8px 20px;
}
.social_header{
    display: flex;
    justify-content: flex-end;
}
.social_header ul{
    display: flex;
}
.social_header ul li a{
    padding: 2px 6px;
}



.hero{
    background-image: url(../img/net.png);
    background-position: bottom 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_hero{
    padding: 80px 10px 120px;
}
.left_hero{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.left_hero h3, .left_hero h2, .left_hero p{
    width: 100%;
}
.left_hero h3{
    font-size: 40px;
    font-weight: 400;
}
.left_hero h2{
    font-size: 80px;
}